<xf:title>{{ phrase('at_2c_forceDisableEmail') }}</xf:title>

<xf:form action="{{ link('force-agreement/terms') }}" ajax="true" data-force-flash-message="on" class="block">
	<div class="block-container">
		<div class="block-body">
			<xf:inforow rowtype="confirm">
				{{ phrase('at_2c_pleaseConfirmDisableMail') }}
			</xf:inforow>
		</div>
		<xf:submitrow icon="save" rowtype="simple" />
	</div>
</xf:form>