.bbMediaWrapper.GDPR {

	& .bbMediaWrapper_trigger {
		position: relative;
		padding: 130px 30px;
		height: 100%;
		background-color: rgba(0,0,0,.6);
		color: #fff;
		z-index: 0;

		&:before {
			.m-faBase();
			content: '\f04b';
			position: absolute;
			font-size: 120px;
			color: rgba(255,255,255,.2);
			width: 120px;
			height: 120px;
			line-height: 120px;
			text-align: center;
			top: 35%;
			left: 40%;
			z-index: -1;
		}

		& p {
			text-align: center;
		}

		& input {
			width: 100%;
			background-color: transparent;
			color: #ffffff;
			padding: 8px 16px;
			font-size: 16px;
			border: 1px solid #ffffff;
			border-radius: 3px;
			cursor: pointer;
			transition: color .5s, background-color .5s, border .5s;

			&:hover {
				border: 1px solid #ffffff;
				background-color: #ffffff;
				color: #000000;
			}
		}
	}

	& .bbMediaWrapper-inner {
		display: none;
	}
}