<dl class="formRow">
	<dt>{{ phrase('at_gdpr_2click:') }}</dt>
	<dd>
		<ul class="inputChoices">
			<li class="inputChoices-choice">
				<label class="iconic">
					<input type="checkbox" id="optout" name="optout" value="1" />
					<i aria-hidden="true"></i>
					<span class="iconic-label">{{ phrase('at_gdpr_dis2click') }}</span>
				</label>
			</li>
		</ul>
		<div class="formRow-explain">{{ phrase('at_gdpr_2click_notice') }}</div>
	</dd>
</dl>